body,
html {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #4e002b;
  --secondary-color: #9b4b77;
  --tertiary-color: #16050e;
  --animation-time: 0.2s;
}

*,
*:before,
*:after {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
}

.header {
  text-align: center;
  padding: 0 5em;
  background-color: var(--primary-color);
  color: white;
}

.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-options div {
  padding: 0.3em 1em;
}

.cell {
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.board {
  border: none;
  background-color: var(--tertiary-color);
}

.footer {
  color: white;
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer p {
  margin: 0 0.5em;
}

.footer img {
  margin-top: 4px;
  margin: 0 0.5em;
}

.dead {
  animation-name: destroy;
  animation-duration: var(--animation-time);
  background-color: var(--tertiary-color);
}

.alive {
  animation-name: create;
  animation-duration: var(--animation-time);
  background-color: var(--secondary-color);
}

@keyframes create {
  0% {
    background-color: var(--tertiary-color);
  }

  100% {
    background-color: var(--secondary-color);
  }
}

@keyframes destroy {
  from {
    background-color: var(--secondary-color);
  }

  to {
    background-color: var(--tertiary-color);
  }
}

