body,
html {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #00404b;
  --secondary-color: #87c2cc;
  --tertiary-color: #001418;
}

*,
*:before,
*:after {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
}

.header {
  text-align: center;
  padding: 0 5em;
  background-color: var(--primary-color);
  color: white;
}

.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-options div {
  padding: 0.3em 1em;
}

.cell {
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.board {
  border: none;
}

.footer {
  color: white;
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 3px;
}

.footer p {
  margin: 0 0.5em;
}

.footer img {
  margin-top: 4px;
  margin: 0 0.5em;
}
